---
const id = Astro.props.id;
const customization = Astro.props.class;
---

<section
  id={id}
  class:list={[
    customization,
    "flex h-full min-h-screen w-full max-w-full flex-none snap-start flex-col items-center justify-center px-6",
  ]}
>
  <slot />
</section>

<script>
  const container = document.querySelector(".container");

  container.addEventListener("wheel", (e: WheelEvent) => {
    e.preventDefault();
    e.deltaY > 0
      ? (container.scrollLeft += 1000)
      : (container.scrollLeft -= 1000);
  });
</script>
